# variaáveis de ambiente para a conexão com o banco de dados
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Api26Almoxarifado
POSTGRES_HOST=local
POSTGRES_DB=api_flask
POSTGRES_PORT=5432

URL_DATABASE_URL = postgresql+psycopg2://postgres:Api26Almoxarifado@localhost:5432

SECRET_KEY=Api_flask_almoxarifado